h1, h2, .dineordash {
    text-align: center;
}

.inner {
    padding-left: 42px;
}

@media screen and (min-width: 1282px) {
    .inner {
        padding-top: 30px;
    }
    #sidebar {
        padding: 2.5em 2.5em 0.5em 0em; 
    }
}

.features section {
    padding: 3.5em 1em 1em 1em;
}

.features h3 {
    text-align: center;
}

#restaurants p {
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.grey {
    border: 1px solid rgb(202, 128, 177);
    border-radius: 25px;
    margin-bottom: 1px;
    padding: 6px;
}

.chosenfooditem {
    font-size: 200%;
    font-style: italic;
    text-decoration: underline;
}

#chosenrecipe div p, .recipelist {
    text-align: start;
}

button {
    display: block;
}

#stepslist {
    padding: 1em;
}

#searchdiv {
    padding: 1em 0 0 0;
}

#searchdiv p, #searchhistorydiv h3, #recipehistorydiv h3 {
    text-align: center;
}

#searchhistorydiv, #recipehistorydiv {
    flex: 1 1;
    padding: 1em;
    overflow-x: auto;
}

/* @media screen and (max-width: 0px) {
    #chosenrecipe h2 {
        text-align: center;
    }
} */