* {
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    font-family: eurostile, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

:root {
    --cloudy: rgba(255, 255, 255, 0.5);
    --grey: rgb(32, 32, 40);
    --blue: rgb(0, 0, 64);
    --lightBlue: rgb(32, 96, 112);
    --niceTeal: rgb(0, 96, 128);
    --teal: rgb(0, 80, 80);
    --pastelTeal: rgba(102, 206, 206, 0.75);
    --pastelBlue: rgba(130, 185, 252, 0.75);
    --pastelGreen: rgba(144, 223, 160, 0.75);
    --pastelRed: rgba(255, 148, 200, 0.75);
    --green: rgb(0, 128, 64);
    --mint: rgb(0, 192, 96);
    --yellow: rgb(128, 128, 64);
    --red: rgb(128, 0, 64);
    --button: rgba(105, 165, 165, 0.75);
}

html {
    background: var(--grey);
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    border-color: var(--blue);
}

header {
    border-color: var(--green);
}

section {
    border-color: var(--teal);
    display: flex;
}

footer {
    border-color: var(--green);
}

div {
    border-color: var(--niceTeal);
    flex: 1 1;
}

h1,
h2,
p,
button,
li {
    background-color: var(--cloudy);
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 18pt;
}

p {
    font-size: 16pt;
}