p {
    font-size: 10pt;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
}

header {
    border-color: var(--yellow);
}

.grey {
    background: var(--cloudy);
    border-color: black;
}

#recipes {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--green);
    overflow-y: auto;
    height: 500px;
}

#recipes p, #recipes button, #restaurants p, #restaurants button {
    text-align: start;
}

p, h2 {
    text-align: start;
}

#restaurants {
    border: 2px solid var(--red);
    overflow-y: auto;
    height: 500px;
}

#recipes h2 {
    background: var(--pastelGreen);
}

#restaurants h2 {
    background-color: var(--pastelRed);
}

.ingredient, .recipelist {
    border: 2px solid black;
    background: var(--cloudy);
    margin: 4px;
    padding: 4px;
}

#searchhistory, #recipehistory {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 200px;
}

#twopanels {
    border: 0;
    margin: 0;
    padding: 0;
}

button {
    box-shadow: 1px 1px 1px white;
}

.history h1, .history h2, #history p {
    background-color: var(--pastelBlue);
}

#totalhistory {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
}

.history {
    flex: 1 1;
}

.history h2, #clear, #clearrecipe {
    height: 50px;
}

#chosenrecipe {
    display: block;
    overflow-y: auto;
    height: 300px;
}

#stepslist {
    overflow-y: auto;
    height: 300px;
}

#chosenrecipe h2, #stepslist h2 {
    background-color: var(--pastelTeal);
}

.bothlists {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
}